*{
    margin: 0;
    padding: 0;
}
body {
	-webkit-text-size-adjust: none;
    min-width: 320px;
}
.global_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    position: relative;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 auto;
    z-index: 10;
}
.container{
    margin: 0 auto;
    width: 1280px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.right{
    float: right;
}
.left{
    float: left;
}
.acl:after{
    display: block;
    content: '';
    clear: both;
}
.cl{
    clear: both;
}