.global_wrapper{
    min-height: 705px;
}
*{
    -webkit-appearance: none;
}
header{position: fixed !important;}
header.wrapper{
    /*position: fixed;*/
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80px;
    background-color: #301919;
    z-index: 12;
}
.main_page header.wrapper{
    background-color: transparent;
}
header .logo_wrapper{
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
header .catalog_menu{
    height: 80px;
}
header .catalog_menu a{
    display: block;
    line-height: 80px;
    position: relative;
    font-size: 11px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 0 50px 0 60px;
}
header .catalog_menu a:before{
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    top: 0px;
    background-image: url(../img/hamb_menu.png);
    width: 10px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .catalog_menu a:hover{
    color: #ffc72b;
}
header ul.main_menu{
    list-style: none;
    margin-left: 40px;
}
header ul.main_menu li{
    float: left;
}
header ul.main_menu li a{
    font-size: 11px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 80px;
    display: block;
    padding: 0 35px;
}
header ul.main_menu li a:hover{
    color: #ffc72b;
}
header .phone{
    margin-right: 30px;
}
header .phone a{
    line-height: 80px;
    display: block;
    font-size: 12px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}
header .phone a:hover{
    color: #ffc72b;
}
header .phone a span{
    color: #ffc72b;
}
.left_nav_fix{
    background-image: url(../img/left_nav.jpg);
    background-position: top center;
    background-repeat: repeat-y;
    position: fixed;
    left: 0px;
    top: 80px;
    width: 80px;
    height: 100%;
    min-height: 625px;
    z-index: 11;
}
.left_nav_fix .nav{
    position: relative;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border-bottom: solid 1px #634d33;
}
.left_nav_fix .nav a{
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}
.left_nav_fix .nav.settings a{
    background-image: url(../img/left_nav_settings.png);
}
.left_nav_fix .nav.portfolio a{
    background-image: url(../img/left_nav_portfolio.png);
}
.left_nav_fix .vert_txt{
    background-image: url(../img/left_nav_vert_txt.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 453px;
    margin-top: 10px;
}
.left_nav_fix .year{
    font-size: 9px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}
.catalog_popup_menu{
    width: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 80px;
    top: 0px;
    background-color: #ffffff;
    z-index: 11;
}
.catalog_popup_menu:before{
    content: '';
    display: block;
    background-color: #311919;
    height: 80px;
    width: 100%;
}
.catalog_popup_menu ul{
    width: 225px;
    position: absolute;
    right: 0px;
    top: 80px;
}
.catalog_popup_menu ul li{
    box-sizing: border-box;
    border-bottom: solid 1px #e6e6e6;
}
.catalog_popup_menu ul li:last-child{
    border: none;
}
.catalog_popup_menu ul li a{
    padding-left: 30px;
    font-size: 14px;
    font-family: "Merel";
    color: rgb(49, 1, 1);
    line-height: 80px;
    display: block;
    text-align: left;
    text-decoration: none;
}
.catalog_popup_menu ul li a:hover{
    color: #cb9f22;
}
.main_page_one_screen .screen_wrapper{
    padding-left: 80px;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.main_page_one_screen .screen_wrapper .table_init{
    display: table;
    width: 100%;
    height: 100%;
}
.main_page_one_screen .screen_wrapper .title_one_page_slide{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.main_page_one_screen .screen_wrapper .title_one_page_slide h3{
    font-size: 48px;
    font-family: "PF Din Text Cond Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
}
.main_page_one_screen .screen_wrapper .title_one_page_slide p{
    font-size: 14px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.429;
    letter-spacing: 3px;
}
.next_slide_wrapper{
    position: absolute;
    left: 0px;
    bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 80px;
}
.next_slide_wrapper .next_slide{
    display: block;
    margin: 0 auto;
    background-image: url(../img/scroll-down.png);
    width: 48px;
    height: 48px;
}
.wrapper_ini_blocks{
    padding-top: 80px;
    box-sizing: border-box;
    padding-left: 80px;
}
.wrapper_ini_blocks .top_line{
    height: 80px;
    background-color: #301919;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.main_content_block.main_page_one_screen .top_line{
    position: absolute;
}
.wrapper_ini_blocks .title_wrapper{

}
.wrapper_ini_blocks .title_wrapper .main_title{
    font-size: 30px;
    font-family: "PF DinText Pro";
    color: rgb(25, 25, 25);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    padding: 45px 0 25px 0;
}
.wrapper_ini_blocks .title_wrapper .txt{
    font-size: 14px;
    font-family: "PF DinText Pro";
    color: rgb(128, 128, 128);
    line-height: 1.714;
    font-weight: 300;
    text-align: center;
}
.wrapper_ini_blocks.dv1 .wrapper_preimys .elements_preim{
    display: table;
    margin: 0 auto;
}
.wrapper_ini_blocks.dv1 .wrapper_preimys{
    padding-top: 100px;
}
.wrapper_ini_blocks.dv1 .wrapper_preimys .elements_preim .element{
    float: left;
    width: 300px;
    border-right: solid 1px #f0f0f0;
}
.wrapper_ini_blocks.dv1 .wrapper_preimys .elements_preim .element:last-child{
    margin-right: 0px;
    border: none;
}
.wrapper_ini_blocks.dv1 .wrapper_preimys .elements_preim .element .img_container{
    height: 110px;
    background-position: top center;
    background-repeat: no-repeat;
}
.wrapper_ini_blocks.dv1 .wrapper_preimys .elements_preim .element .title_element{
    font-size: 16px;
    font-family: "PF DinText Pro";
    color: rgb(25, 25, 25);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    padding-bottom: 25px;
    width: 270px;
    margin: 0 auto;
}
.wrapper_ini_blocks.dv1 .wrapper_preimys .elements_preim .element .txt_element{
    font-size: 12px;
    font-family: "Segoe UI";
    color: rgb(128, 128, 128);
    line-height: 1.5;
    text-align: center;
    width: 270px;
    margin: 0 auto;
}
.dv2 .client_foto{
    background-image: url(../img/client.png);
    width: 1093px;
    height: 320px;
    margin: 0 auto;
    background-size: 100% 100%;
    margin-top: 70px;
}
.wrapper_mainpage_form{
    width: 460px;
    margin: 25px auto 0 auto;
    background-color: #f5f5f5;
    padding: 25px 0;
}
.wrapper_mainpage_form input[type=text], .wrapper_mainpage_form input[type=tel]{
    display: block;
    background-color: #ffffff;
    width: 350px;
    height: 45px;
    padding: 0 15px;
    margin: 0 auto 20px auto;
}
.wrapper_mainpage_form textarea{
    display: block;
    resize: none;
    width: 350px;
    padding: 10px 15px;
    height: 75px;
    margin: 0 auto;
}
.wrapper_mainpage_form input[type=submit]{
    width: 260px;
    height: 45px;
    display: block;
    border: none;
    cursor: pointer;
    background-color: #cb9f22;
    border-radius: 3px;
    margin: 25px auto 0 auto;
    font-size: 12px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 45px;
}
.breadcrumbs{
    display: block;
    padding: 30px 0 0 60px;
}
.breadcrumbs ul{

}
.breadcrumbs ul li{
    list-style: none;
    float: left;
    position: relative;
    padding-right: 15px;
    font-size: 12px;
    font-family: "Segoe UI";
    color: rgb(128, 128, 128);
    line-height: 1;
    text-align: left;
}
.breadcrumbs ul li:after{
    content: '/';
    display: block;
    position: absolute;
    right: 4px;
    top: 0px;
}
.breadcrumbs ul li:last-child:after{
    display: none;
}
.breadcrumbs ul li a{
    text-decoration: none;
    color: rgb(128, 128, 128);
}
.breadcrumbs ul li p{
    color: #cb9f22;
}
.content_vakancii{
    padding-left: 210px;
    padding-top: 60px;
}
.content_vakancii h1{
    font-size: 16px;
    font-family: "PF DinText Pro";
    color: rgb(26, 26, 26);
    line-height: 1.5;
    text-align: left;
    font-weight: 500;
}
.content_vakancii ol{
    padding: 35px 0 35px 16px;
}
.content_vakancii ol li{
    font-size: 13px;
    font-family: "Segoe UI";
    color: rgb(51, 51, 51);
    line-height: 2.308;
    text-align: left;
}
.content_vakancii p{
    font-size: 14px;
    font-family: "Segoe UI";
    color: rgb(51, 51, 51);
    line-height: 1.714;
    text-align: left;
}
.wrapper_services{
    padding-top: 110px;
    padding-left: 80px;
}
.wrapper_services ul{
    width: 1140px;
    margin: 0 auto;
}
.wrapper_services ul li{
    float: left;
    width: 250px;
    margin-right: 35px;
    list-style: none;
}
.wrapper_services ul li:last-child{
    margin-right: 0px;
}
.wrapper_services ul li a{
    text-decoration: none;
}
.wrapper_services ul li a .img_container{
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrapper_services ul li a .img_container_hover{
    display: none;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrapper_services ul li a:hover .img_container{
    display: none;
}
.wrapper_services ul li a:hover .img_container_hover{
    display: block;
}
.wrapper_services ul li a .title{
    font-size: 12px;
    font-family: "Merel";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
}
.wrapper_services ul li a .txt{
    font-size: 12px;
    font-family: "Segoe UI";
    color: rgb(128, 128, 128);
    line-height: 1.5;
    text-align: center;
}
.wrapper_services_inputs{

}
.wrapper_services_inputs .slider_wrapper{
    padding-top: 60px;
    position: relative;
    width: 1250px;
    margin: 0 auto;
    z-index: 9;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services{
    width: 1150px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element{
    height: 150px;
    width: 230px;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element a .non_display_txt{
    padding-top: 20px;
    font-size: 12px;
    font-family: "Segoe UI";
    color: rgb(128, 128, 128);
    line-height: 1.5;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element a:hover .non_display_txt{
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     opacity: 1;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element a{
    text-decoration: none;
    display: block;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element .img_container{
    height: 70px;
    background-repeat: no-repeat;
    background-position: top center;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element .img_container_center{
    display: none;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-position: top center;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element .img_container_hover{
    display: none;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-position: top center;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .center .element .img_container{
    display: none;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .center .element .img_container_center{
    display: block;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element:hover .img_container{
    display: none;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services  .element:hover .img_container_center{
    display: none;
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services  .element:hover .img_container_hover{
    display: block
}
.wrapper_services_inputs .slider_wrapper .horis_slider_services .element .title{
    font-size: 10px;
    font-family: "Merel";
    color: rgb(204, 204, 204);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}
.slider_wrapper .prev, .slider_wrapper .next{
    position: absolute;
    top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    width: 36px;
    height: 36px;
}
.wrapper_services_inputs .slider_wrapper .prev{
    background-image: url(../img/ser_inp_prev.png);
    left: 0px;
}
.wrapper_services_inputs .slider_wrapper .next{
    background-image: url(../img/ser_inp_next.png);
    right: 0px;
}
.services_colection{
    position: relative;
    width: 1150px;
    margin: 0 auto;
}
.services_colection .item{
    margin: 5px;
}
.services_colection .item .img_container{

    position: relative;
    box-sizing: border-box;
}
.services_colection .item .img_container img{
    display: block;
}
.services_colection .item:hover .img_container:after{
    background-color: #ffcc33;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.services_colection .item .txt_container{
    position: absolute;
    display: table;
    left: 0px;
    top: 0px;
    width: 100%;
}
.services_colection .item .txt_container .row_container{
    display: table-row;
    height: 300px;
}
.services_colection .item .txt_container .row_container .cell_container{
    display: table-cell;
    vertical-align: middle;
}
.services_colection .item .title_colection{
    font-size: 12px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
}
.services_colection .item .zoom_a{
    display: block;
    background-image: url(../img/zoom_lens.png);
    width: 24px;
    height: 24px;
    margin: 20px auto 20px auto;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    z-index: 11;
}
.services_colection .item:hover .zoom_a{
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.services_colection .item .txt{
    font-size: 12px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    width: 80%;
    margin: -25px auto 0 auto;
    display: block;
    opacity: 1;
    position: relative;
    /*z-index: 10;*/
}
.services_colection .item:hover .txt{
    opacity: 0;
}
.services_colection .item .wont{
    opacity: 0;
    display: block;
    width: 130px;
    margin: 0 auto 0 auto;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-family: "Merel";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    border: solid 2px #ffffff;
    border-radius: 2px;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.services_colection .item:hover .wont{
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.main_content_block.non_scroll{
    padding-bottom: 30px;
}
.wrapper_works{
    padding-left: 80px;
    padding-top: 80px;
}
.works_slider_wrapper{
    width: 1200px;
}
.works_slider_wrapper .item{
    width: 300px;
}
.works_slider_wrapper .item .img_container{
    position: relative;
}
.works_slider_wrapper .item .img_container:after{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: '';
    display: none;
    background-color: #ffcc33;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    background-repeat: repeat;
    opacity: 0.40;
}
.works_slider_wrapper .item .header_slide_info{
    opacity: 0;
    border-left: solid 1px #e6e6e6;
    padding-bottom: 50px;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.works_slider_wrapper .item .header_slide_info .date{
    font-size: 48px;
    font-family: "PF DinText Pro";
    color: rgb(203, 159, 34);
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    font-weight: 500;
    background-color: #fff;
    margin-left: -14px;
}
.works_slider_wrapper .item .header_slide_info .date span{
    font-size: 24px;
}
.works_slider_wrapper .item .number_line{
    opacity: 1;
    font-size: 12px;
    font-family: "Merel";
    color: rgb(25, 25, 25);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 14px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 10px;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.works_slider_wrapper .item .number_line:before{
    display: block;
    content: '';
    position: absolute;
    left: 0px;
    top: 7px;
    width: 120px;
    height: 1px;
    background-color: #e6e6e6;
}
.works_slider_wrapper .item .number_line:after{
    display: block;
    content: '';
    position: absolute;
    right: 0px;
    top: 7px;
    width: 120px;
    height: 1px;
    background-color: #e6e6e6;
}
.works_slider_wrapper .center .item .number_line{
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.works_slider_wrapper .center .item .img_container:after{
    display: block;
}
.works_slider_wrapper .item .hidden_txt{
    opacity: 0;
    border-left: solid 1px #e6e6e6;
    margin-top: -24px;
    padding-top: 12px;
    padding-left: 18px;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.works_slider_wrapper .item .hidden_txt .title{
    font-size: 12px;
    font-family: "Merel";
    color: rgb(203, 159, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 18px;
    text-align: left;
}
.works_slider_wrapper .item .hidden_txt .txt{
    font-size: 11px;
    font-family: "Segoe UI";
    color: rgb(128, 128, 128);
    line-height: 1.818;
    text-align: left;
}

.works_slider_wrapper .center .item .hidden_txt{
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.works_slider_wrapper .center .item .header_slide_info{
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.works_slider_wrapper .item{

}
.navigation{
    display: table;
    padding-top: 40px;
    margin: 0 auto;
}
.navigation > div{
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    width: 36px;
    height: 36px;
    margin: 0 5px;
}
.navigation > div.prev{
      background-image: url(../img/ser_inp_prev.png);
}
.navigation > div.next{
    background-image: url(../img/ser_inp_next.png);
}
.wrapper_services_inputs{
    padding-left: 80px;
    box-sizing: border-box;
    width: 100%;
}
@media all and (max-width: 1450px) {  }