@font-face {
    font-family: 'PF DinText Pro';
    src: url('pfdintextpro-bold-webfont.eot');
    src: url('pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-bold-webfont.woff2') format('woff2'),
         url('pfdintextpro-bold-webfont.woff') format('woff'),
         url('pfdintextpro-bold-webfont.ttf') format('truetype'),
         url('pfdintextpro-bold-webfont.svg#pf_dintext_probold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'PF DinText Pro';
    src: url('pfdintextpro-light-webfont.eot');
    src: url('pfdintextpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-light-webfont.woff2') format('woff2'),
         url('pfdintextpro-light-webfont.woff') format('woff'),
         url('pfdintextpro-light-webfont.ttf') format('truetype'),
         url('pfdintextpro-light-webfont.svg#pf_dintext_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'PF DinText Pro';
    src: url('pfdintextpro-medium-webfont.eot');
    src: url('pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-medium-webfont.woff2') format('woff2'),
         url('pfdintextpro-medium-webfont.woff') format('woff'),
         url('pfdintextpro-medium-webfont.ttf') format('truetype'),
         url('pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

